.form-head{
    // border: 2px solid red;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // text-align: center;
    margin-top: 30px;
    margin-left: 20%;
    width: 40%;
    
}
.form-head2{
    border: 2px solid grey;
    border-radius: 8px;
    position: relative;
    left: 3rem;
    width: 550px;
    justify-content: center;
    text-align: center;
}
.close-btn button{
    border: none;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: 0.048em;
}
.title input{
    width:30vw;
    height: 30px;
    outline: none;
    border: none;
}
.take-note input{
    width:30vw;
    height: 30px;
    outline: none;
    border: none;
}