<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><img class="menu" src="../../../assets/menu_.svg"></button>
    <img class="logo" src="../../../assets/keep.png">
    <h1 class="example-app-name">Fundoo Note</h1>
    <div class="nbc" fxLayout="row" fxLayoutAlign="space-between center" ngClass.xs="nbc-xs">
      <div class="input-bar" fxLayout="row" fxLayoutAlign="end center" ngClass.xs="input-bar-xs">
        <div class="logo-search" ngClass.xs="logo-search-xs">
          <img src="../../../assets/search_.svg">
        </div>
        <input id="input-bar" ngClass.xs="innn-xs" placeholder="Search" >
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.xs="center">
        <div class="icon1" fxLayout="row" ngClass.xs="icon1-xs">
          <div class="icons"><img src="../../../assets/refresh_FILL.svg"></div>
          <div class="icons"><img src="../../../assets/settings_FILL.svg"></div>
        </div>
        <div fxLayout="row">
          <div class="icons"><img src="../../../assets/apps_FILL.svg"></div>
          
        </div>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="side-nav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list fxLayout="column" fxLayoutAlign="start start">
        <a mat-list-item routerLink="/dashboard/home"><div class="icons2" id="side-icons"><img src="../../../assets/lightbulb.svg" alt=""></div>Notes</a>
        <a mat-list-item routerLink="."><div class="icons2" id="side-icons"><img src="../../../assets/notifications.svg" alt=""></div>Reminders</a>
        <a mat-list-item routerLink="/dashboard/archive"><div class="icons2" id="side-icons"><img src="../../../assets/archive_.svg" alt=""></div>Archive</a>
        <a mat-list-item routerLink="."><div class="icons2" id="side-icons"><img src="../../../assets/edit_.svg" alt=""></div>Edit Label</a>
        <a mat-list-item routerLink="/dashboard/trash"><div class="icons2" id="side-icons"><img src="../../../assets/delete.svg" alt=""></div>Trash</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
