@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
.menu{
  height: 20px;
}
.mat-toolbar{
  background-color: #fff;
  border: 1px solid rgb(249, 244, 244);
}
.logo{
  margin-left: 5px;
  height: 40px;
}
.input-bar{
  width: 45%;
  background-color: rgb(249, 247, 247);
  margin-left: 100px;
  border-radius: 10px;
  height: 50px;
}
#input-bar{
  font-family: 'Open Sans', sans-serif;;
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: rgb(249, 247, 247);
  font-size: 15px;
  font-weight: bold;
}
.example-sidenav-container{
  background-color: #fff;
  border: none;
}
.logo-search{
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
.logo-search > img{
  height: 30px;
}
.logo-search:hover{
  background-color: rgb(211, 207, 207);
}
.side-nav{
  width: 200px;
}
.icons{
  display: flex;
  height: 42px;
  width: 42px;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
.icons:hover{
  background-color: rgba(224, 223, 221, 0.995);
  border-radius: 20px;
  cursor: pointer;
}
.icons > img{
  height: 22px;
  margin-top: 5px;
}
.nbc{
  width: 100%;
  padding-right: 0px;
  margin: 0px;
}
.icon1{
  margin-right: 20px;
}
.icons2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.icons2 > img{
  height: 22px;
  margin-top: 5px;
}
.mat-nav-list .mat-list-item{
 border-top-right-radius: 40px;
 border-bottom-right-radius: 40px ;
 width: 97%;
}
.mat-sidenav{
  border: none;
}
.input-bar-xs{
  display: none !important;
}
.logo-search-xs{
  display: none;
}
.innn-xs{
  display: none;
}
.icons-xs{
  display: none;
}
.icon1-xs{
  margin-right: 0px;
}
.nbc-xs{
  margin-left: 20px;
}