<div class="group-form">
    <div class="form-content">
       <div class="form">
        <div class="form-fundoo">
          <span class="F">F</span>
          <span class="U">u</span>
          <span class="N">n</span>
          <span class="D">d</span>
          <span class="O">o</span>
          <span class="OO">o</span>
          <span class="NN">N</span>
          <span class="O">o</span>
          <span class="T">t</span>
          <span class="E">e</span>
        </div>
        <div class="form-sign_in">Sign in</div>
        <div class="form-head">To Continue your FundooNote</div>
        
        <div class="row">
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password">
              </mat-form-field>
            </p>
          </div>
          <div class="message1">
            <p>Forgot Password? </p>
          </div>
          <div class="message">
            <p> your computer? Use Guest mode to sign in privately.</p>
            <p class="message1">Learn more </p>
          </div>
          <div class="btn">
            <a routerLink="/register" mat-button>Create Account</a>
            <button mat-raised-button>Next</button>
          </div>
       </div>
    </div>
</div>