<div class="group-form">
    <div class="form-content">
       <div class="form">
        <form >  
        <div class="form-fundoo">
            <span class="F">F</span>
            <span class="U">u</span>
            <span class="N">n</span>
            <span class="D">d</span>
            <span class="O">o</span>
            <span class="OO">o</span>
            <span class="NN">N</span>
            <span class="O">o</span>
            <span class="T">t</span>
            <span class="E">e</span>
          </div>
        <div class="form-head">Find your email</div>
        <h3 class="form-head2">Enter your registered FundooNotes Email</h3>
        <div class="row">
            <p>
              <mat-form-field class="form-cd-rm" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error>enter your email</mat-error>
              </mat-form-field>
            </p>
          </div>
          <div class="btn">
            <button mat-raised-button>Next</button>
          </div>
        </form>
       </div>
    </div>
</div>